<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd D:\Project\C#\DigDesNote\DigDesNote\DigDesNote.API\NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="listlog" filename="${basedir}/Logs/loglist.txt"/>
    <target xsi:type="File" name="errorlog" filename="${basedir}/Logs/errorlog.txt"/>
    <target xsi:type="Trace" name="trace"/>
  </targets>

  <rules>
    <logger minlevel="Trace" writeTo="listlog"/>
    <logger minlevel="Trace" writeTo="trace"/>
    
  </rules>
</nlog>
